# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*
!.env.example

# Django
db.sqlite3
*.sqlite3
staticfiles/
media/

# Logs
*.log

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local Docker overrides
docker-compose.override.yml
